<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ng-click="reset()">
      <img src="./../../../assets/img/logo-small-line-white-overlap.png" alt="Twitter Metrics">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <div class="nav navbar-nav navbar-right">
        <div class="nav-item px-3">
          <a href="#" id="nav-username">{{ user }}</a>
        </div>
        <div class="nav-item">
          <a href="#" id="user-options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" id="user-options-dropdown">
            <a class="dropdown-item" href="#" ng-click="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Filters -->


<div class="container-fluid" id="filters">
  <!-- <p>{{ searchMessage }}</p> -->
  <form>
    <ul id="search-nav" class="nav nav-tabs flex-container-row">
      <li class="nav-item flex-container-col">
          <a class="nav-link" ng-class="{active: searchType == 'Topic'}" href="#"
          ng-click="searchByTopic()">Topic</a>
      </li>
      <li class="nav-item flex-container-col">
          <a class="nav-link" ng-class="{active: searchType == 'Location'}" href="#"
          ng-click="searchByLocation()">Location</a>
      </li>
      <li class="nav-item flex-container-col">
        <a class="nav-link" ng-class="{active: searchType == 'User'}" href="#"
            ng-click="searchByUser()">User</a>
      </li>
    </ul>
    <div class="input-group shadow mb-3 searchBar ui-widget">
      <input type="text" class="form-control" placeholder="Search" aria-label="search-input" ng-model="searchValue"
        ng-change="filterLocations()" tm-autocomplete>

      <div class="input-group-append">
        <button class="btn btn-light" id="rightSearchBtn" type="submit" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ng-click="search()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Analytics -->

<div class="analytics">
  <div class="container-fluid">

    <!-- Topics Display Start -->

    <div class="informationBlock shadow mb-4 bg-white"
      ng-style="{ 'display' : (searchType == 'Topic') ? 'block' : 'none'}">

      <div class="informationBlockTitle">
        <h2>Tweets about "{{ currentSearch }}"</h2>
      </div>

      <div class="bottom-line-border">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: tweetFilter == 'popular'}" href="#"
              ng-click="filterTweetsPopular()">Most
              Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: tweetFilter == 'recent'}" href="#"
              ng-click="filterTweetsRecent()">Most
              Recent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: tweetFilter == 'mixed'}" href="#"
              ng-click="filterTweetsMixed()">Mixed</a>
          </li>
        </ul>
      </div>

      <table id="tweets-table" class="flex-container-col">
        <thead class="flex-container-col">
          <tr class="bottom-line-border flex-container-row">
            <th class="text-center">Username</th>
            <th>Post Caption</th>
            <th class="text-center">Likes</th>
            <th class="text-center">Retweets</th>
          </tr>
        </thead>
        <tbody class="flex-container-col">
          <tr class="bottom-line-border flex-container-row" ng-repeat="tweet in tweets">
            <td class="text-center">
              <a href="#" ng-click="selectUser(tweet.user)">{{ tweet.user }}</a>
              <a ng-href="https://twitter.com/{{ tweet.screen_name }}" target="_blank">@{{ tweet.screen_name }}</a>
            </td>
            <td>
              <a id="post-caption" ng-href="https://twitter.com/web/status/{{ tweet.id }}"
                target="_blank">{{ tweet.caption }}</a>
            </td>
            <td class="text-center">{{ tweet.likes }}</td>
            <td class="text-center">{{ tweet.retweets }}</td>
          </tr>
          <tr ng-style="{ 'display' : (tweets.length == 0) ? 'block' : 'none'}">
            <td colspan="4" id="error-message" class="text-center">No {{ tweetFilter }} tweets found for
              "{{ currentSearch }}"</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Topics Display End -->

    <!-- Locations Display Start -->

    <div class="informationBlock shadow mb-4 mr-4 bg-white"
      ng-style="{'display' : (searchType == 'Location') ? 'block' : 'none'}">

      <div class="informationBlockTitle">
        <h2>Current trends @ {{ currentSearch }}</h2>
      </div>

      <div class="bottom-line-border">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: trendFilter == 'most'}" href="#" ng-click="filterTrendsMost()">Most
              Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: trendFilter == 'least'}" href="#"
              ng-click="filterTrendsLeast()">Least Popular</a>
          </li>
        </ul>
      </div>

      <div class="graphContainer">
        <div class = "row">

          <div class = "col-md-2" id = "trendnamecol">
          <div ng-repeat="trend in trends" ng-click="switchTopic(trend.name)">
            <p id = "trendname">{{ trend.name }}</p>
          </div>
        </div>
        <div class = "col-md-9">
        <div id="graph">
          <div class="trend" ng-repeat="trend in trends" ng-click="switchTopic(trend.name)"
            style="grid-column-end : {{ trend.volume ? Math.round(trend.volume / maxVolume * 100) : 1 }}">
            <!-- <p>{{ trend.name }}</p> -->
            <p>{{ trend.volume }}</p>
          </div>

      </div>

        <div ng-style="{ 'display' : (trends.length == 0) ? 'block' : 'none'}">
          <p id="error-message" class="text-center">No trends found for "{{ currentSearch }}"</p>
        </div>
      </div>
    </div>
    </div>

    </div>

    <!-- Locations Display End -->

    <!-- Top Users Start -->

    <div class="informationBlock shadow mb-4 bg-white"
      ng-style="{ 'display' : (searchType == 'User') ? 'block' : 'none'}">

      <div class="informationBlockTitle bottom-line-border">
        <h2>Users related to "{{ currentSearch }}"</h2>
      </div>
      <div class="chart">
        <table id="userChart">
          <tbody ng-repeat="user in users">
            <tr>
              <td>{{ user.name }}<br>
                <p>@{{ user.screen_name }}</p>
              </td>
              <td>{{ user.followers_count }}<br>
                <p>FOLLOWERS</p>
              </td>
              <td>{{ user.statuses_count }}<br>
                <p>TWEETS</p>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                {{ user.description }}
              </td>
            </tr>
            <div>
              <tr class="bottom-line-border" ng-style="{ 'display' : (user.display == false) ? '' : 'none'}">
                <td class="button-td" colspan="3">
                  <button type="button" class="btn btn-default" id="captionDropdown" ng-click="user.display=true">
                    <i class="fas fa-chevron-down"></i>
                  </button>
                </td>
              </tr>
            </div>
            <tr class="bottom-line-border" ng-style="{ 'display' : (user.display == true) ? '' : 'none'}">
              <td colspan="3">
                <table id="tweets-table">
                  <thead>
                    <tr class="bottom-line-border">
                      <th class="text-center">Date</th>
                      <th>Post Caption</th>
                      <th class="text-center">Likes</th>
                      <th class="text-center">Retweets</th>
                    </tr>
                  </thead>
                  <tbody id="user-tweets-table" style="max-height:300px">
                    <tr class="bottom-line-border" ng-repeat="tweet in user.tweets">
                      <td class="text-center">
                        {{ tweet.created_at }}
                      </td>
                      <td>
                        <a id="post-caption" ng-href="{{ tweet.url }}">{{ tweet.caption }}</a>
                      </td>
                      <td class="text-center">{{ tweet.likes }}</td>
                      <td class="text-center">{{ tweet.retweets }}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <div>
              <tr class="bottom-line-border" ng-style="{ 'display' : (user.display == true) ? '' : 'none'}">
                <td class="button-td" colspan="3">
                  <button type="button" class="btn btn-default" id="captionDropdown" ng-click="user.display=false">
                    <i class="fas fa-chevron-up"></i>
                  </button>
                </td>
              </tr>
            </div>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Top Users End -->

  </div>
</div>


<!-- Footer -->

<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        &copy; 2019 Just kidding we have no copywrites. <br><br>
        Coded by <br>
        <a href="https://github.com/stuffrome/">Gabriel Perez</a> <br>
        <a href="https://github.com/prestoncr/">Christopher Preston</a> <br>
        <a href="https://github.com/sindywu/">Sindy Wu</a> <br>
        <a href="https://github.com/caitlinbecker/">Caitlin Becker</a> <br>
        <a href="https://github.com/nicodonnell/">Nicole O'Donnell</a> <br>
      </div>
    </div>
  </div>
</footer>