<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" ng-click="reset()">
      <img src="./../../../assets/img/logo-small-line-white-overlap.png" alt="Twitter Metrics">
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <div class="nav navbar-nav navbar-right">
        <div class="nav-item px-3">
          <a href="#" id="nav-username">{{ user }}</a>
        </div>
        <div class="nav-item">
          <a class="dropdown-toggle" href="#" id="user-options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" id="user-options-dropdown">
            <a class="dropdown-item" href="#" ng-click="logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Filters -->


<div class="container-fluid" id="filters">
  <p>{{ searchMessage }}</p>
  <form>
    <div class="input-group shadow mb-3 searchBar ui-widget">
      <div class="input-group-prepend">
        <button class="btn btn-primary dropdown-toggle" id="leftSearchBtn" type="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">{{ searchType }}</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" ng-class="{active: searchType == 'Topic'}" href="#"
            ng-click="searchByTopic()">Topic</a>
          <a class="dropdown-item" ng-class="{active: searchType == 'Location'}" href="#"
            ng-click="searchByLocation()">Location</a>
          <!-- <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Others</a> -->
        </div>
      </div>

      <input type="text" class="form-control" placeholder="Search" aria-label="search-input" ng-model="searchValue"
        ng-change="filterLocations()" tm-autocomplete>

      <div class="input-group-append">
        <button class="btn btn-light" id="rightSearchBtn" type="submit" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" ng-click="search()">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
  <!-- <p>{{status}}</p>
  <p>Search Value: {{searchValue}}</p>
  <p>Current Search: {{currentSearch}}</p> -->
</div>

<!-- Analytics -->

<div class="analytics">
  <div class="container-fluid">

    <!-- Topics Display Start -->

    <div class="informationBlock shadow mb-4 bg-white"
      ng-style="{ 'display' : (searchType == 'Topic') ? 'block' : 'none'}">

      <div class="informationBlockTitle">
        <h2>Tweets about "{{ currentSearch }}"</h2>
      </div>

      <div class="bottom-line-border">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: tweetFilter == 'popular'}" href="#"
              ng-click="filterTweetsPopular()">Most
              Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: tweetFilter == 'recent'}" href="#"
              ng-click="filterTweetsRecent()">Most
              Recent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: tweetFilter == 'mixed'}" href="#"
              ng-click="filterTweetsMixed()">Mixed</a>
          </li>
        </ul>
      </div>

      <table id="tweets-table">
        <thead>
          <tr class="bottom-line-border">
            <th class="text-center">Username</th>
            <th>Post Caption</th>
            <th class="text-center">Likes</th>
            <th class="text-center">Retweets</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bottom-line-border" ng-repeat="tweet in tweets">
            <td class="text-center">
              {{ tweet.user }}
              <br>
              <a ng-href="https://twitter.com/{{ tweet.screen_name }}" target="_blank">@{{ tweet.screen_name }}</a>
            </td>
            <td>
              <a id="post-caption" ng-href="{{ tweet.url }}">{{ tweet.caption }}</a>
            </td>
            <td class="text-center">{{ tweet.likes }}</td>
            <td class="text-center">{{ tweet.retweets }}</td>
          </tr>
          <tr ng-style="{ 'display' : (tweets.length == 0) ? 'block' : 'none'}">
            <td colspan="4" id="error-message" class="text-center">No {{ tweetFilter }} tweets found for
              "{{ currentSearch }}"</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Topics Display End -->

    <!-- Locations Display Start -->

    <div class="informationBlock shadow mb-4 mr-4 bg-white"
      ng-style="{'display' : (searchType == 'Location') ? 'block' : 'none'}">

      <div class="informationBlockTitle">
        <h2>Current trends @ {{ currentSearch }}</h2>
      </div>

      <div class="bottom-line-border">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: trendFilter == 'most'}" href="#" ng-click="filterTrendsMost()">Most
              Popular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-class="{active: trendFilter == 'least'}" href="#"
              ng-click="filterTrendsLeast()">Least Popular</a>
          </li>
        </ul>
      </div>

      <div class="graphContainer">
        <div id="graph">
          <div class="trend" ng-repeat="trend in trends" ng-click="switchTopic(trend.name)"
            style="grid-column-end : {{ trend.volume ? Math.round(trend.volume / maxVolume * 100) : 1 }}">
            <p>{{ trend.name }}</p>
          </div>
        </div>
        <div ng-style="{ 'display' : (trends.length == 0) ? 'block' : 'none'}">
          <p id="error-message" class="text-center">No trends found for "{{ currentSearch }}"</p>
        </div>
      </div>

    </div>

    <!-- Locations Display End -->

  </div>
</div>


<!-- Footer -->

<footer id="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        &copy; 2019 Just kidding we have no copywrites. <br><br>
        Coded by <br>
        <a href="https://github.com/stuffrome/">Gabriel Perez</a> <br>
        <a href="https://github.com/prestoncr/">Christopher Preston</a> <br>
        <a href="https://github.com/sindywu/">Sindy Wu</a> <br>
        <a href="https://github.com/caitlinbecker/">Caitlin Becker</a> <br>
        <a href="https://github.com/nicodonnell/">Nicole O'Donnell</a> <br>
      </div>
    </div>
  </div>
</footer>